node_modules/
__pycache__/
*.pyc
.env
instance/
.DS_Store
.vscode/
venv/
*.sqlite3

# Virtual environments
server/venv/
client/node_modules/

# Database files
*.db
*.sqlite

# Build directories
dist/
build/